<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layout.html" %}
    {% block content %}

    <style>
        .new-section {
            display: flex;
            width: 100%;
            position: fixed;
            bottom: 0;
            background-color: #fff; /* Ajoutez votre couleur de fond ici */
        }

        .new-column {
            flex: 1;
            text-align: center;
        }

        .new-column img {
            max-width: 100%;
            height: auto;
        }

        .new-text {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

    </head>
    <body>

    <!-- Votre contenu existant ici -->





    <div class="new-section">
        <div class="new-column">
            <p class="new-text">{{pseudo}} </p>
            <img src="{{ url_for('static', filename='{}.png'.format(icone)) }}" style="width: 250px; height: 250px;">
            <p class="new-text">Level {{summoner_level}} </p>
        </div>

        <div class="new-column">
            <p class="new-text">Rang flex : {{rank_flex}}</p>
            <img src="{{ url_for('static', filename='{}.jpg'.format(rank_flex_icon)) }}" style="width: 250px; height: 250px;">
            <p class="new-text">Top champ <img src="{{ url_for('static', filename='{}.png'.format(champ_flex)) }}" style="width: 60px; height: 60px;"> Winrate <strong>{{winrate_flex}}%</strong>  </p>
        </div>

        <div class="new-column">
            <p class="new-text">Rang solo/duo :{{rank_solo}} </p>
            <img src="{{ url_for('static', filename='{}.jpg'.format(rank_solo_icon)) }}" style="width: 250px; height: 250px;">
            <p class="new-text">Top champ <img src="{{ url_for('static', filename='{}.png'.format(champ_solo)) }}" style="width: 60px; height: 60px;"> Winrate <strong>{{winrate_solo}}%</strong></p>
        </div>
    </div>
        



    </body>
    </html>
    {% endblock %}
